.header-header {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
}
.header-container {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-heading {
  color: var(--dl-color-gray-white);
  font-weight: 700;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-container1 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
  text-decoration: none;
}
.header-icon {
  fill: var(--dl-color-gray-900);
  width: 13px;
}
.header-text {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-halfunit);
}
.header-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
.header-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-link {
  display: contents;
}
.header-image {
  width: 24px;
  height: 24px;
  object-fit: cover;
  text-decoration: none;
}
.header-link1 {
  display: contents;
}
.header-image1 {
  width: 24px;
  height: 24px;
  padding: 0px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-root-class-name {
  margin-bottom: 0px;
}
@media(max-width: 991px) {
  .header-header {
    max-width: 1320px;
    margin-bottom: var(--dl-space-space-triplequarter);
  }
}
@media(max-width: 767px) {
  .header-container4 {
    display: none;
  }
  .header-root-class-name {
    margin-bottom: 0px;
  }
}
@media(max-width: 430px) {
  .header-container {
    margin-left: var(--dl-space-space-unitandhalf);
  }
}

.footer-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
  background-color: var(--dl-color-pimary-900);
}
.footer-container1 {
  width: 100%;
  display: flex;
  max-width: auto;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container3 {
  display: flex;
  margin-top: var(--dl-space-space-unitandhalf);
  align-items: flex-start;
  flex-direction: row;
}
.footer-container4 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-link {
  display: contents;
}
.footer-image {
  width: 16px;
  height: 16px;
  object-fit: cover;
  text-decoration: none;
}
.footer-container5 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-link1 {
  display: contents;
}
.footer-image1 {
  width: 16px;
  height: 16px;
  object-fit: cover;
  text-decoration: none;
}
.footer-container6 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-container7 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-link2 {
  color: var(--dl-color-secondary-500);
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-link3 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-link4 {
  color: var(--dl-color-secondary-500);
  text-decoration: none;
}
.footer-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: #e3e8efff;
}
.footer-text1 {
  color: var(--dl-color-secondary-500);
  align-self: center;
}
@media(max-width: 991px) {
  .footer-container1 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container2 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-container7 {
    align-items: center;
  }
}
@media(max-width: 767px) {
  .footer-container6 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container7 {
    align-items: center;
  }
}
@media(max-width: 430px) {
  .footer-container {
    padding: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 40rem;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/heroimage-1500h.jpg");
}
.home-bg {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.home-container1 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.home-image {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
.home-image01 {
  left: auto;
  right: 0px;
  width: 100%;
  bottom: 0px;
  display: none;
  position: absolute;
  object-fit: cover;
}
.home-container2 {
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: 10rem;
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: unset;
}
.home-text {
  color: var(--dl-color-gray-900);
  font-size: 3rem;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Georgia";
  font-weight: 400;
  line-height: 1;
}
.home-text01 {
  color: var(--dl-color-gray-white);
  font-size: 4rem;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Georgia";
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 2px;
}
.home-section1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #111729;
}
.home-video-content {
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
}
.home-container3 {
  flex: 0 0 auto;
  width: 41%;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
}
.home-text02 {
  color: var(--dl-color-pimary-700);
  width: 80%;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.home-text05 {
  fill: var(--dl-color-pimary-800);
  color: var(--dl-color-pimary-800);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
}
.home-image02 {
  width: auto;
  height: 1.3rem;
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
}
.home-image03 {
  width: auto;
  height: 1.3rem;
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
}
.home-image04 {
  width: auto;
  height: 1.3rem;
  object-fit: cover;
}
.home-image05 {
  width: auto;
  height: 1.3rem;
  object-fit: cover;
}
.home-image06 {
  width: auto;
  height: 1.3rem;
  object-fit: cover;
}
.home-image07 {
  width: auto;
  height: 1.3rem;
  object-fit: cover;
}
.home-container5 {
  width: 100%;
  display: flex;
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
}
.home-video {
  width: 100%;
  height: 100%;
}
.home-container6 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-cards-container {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: space-between;
}
.home-card1 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: 0px;
  align-self: stretch;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  justify-content: space-between;
}
.home-text08 {
  fill: var(--dl-color-pimary-900);
  color: var(--dl-color-pimary-900);
  font-size: 1.3rem;
  margin-top: 0px;
  text-align: center;
  font-family: "Open Sans";
  line-height: 1.625rem;
}
.home-text09 {
  fill: var(--dl-color-pimary-300);
  color: var(--dl-color-pimary-300);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Open Sans";
}
.home-card2 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  padding: 0px;
  align-self: stretch;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  justify-content: space-between;
}
.home-text10 {
  fill: var(--dl-color-pimary-900);
  color: var(--dl-color-pimary-900);
  width: 100%;
  font-size: 1.3rem;
  align-self: center;
  margin-top: 0px;
  text-align: center;
  font-family: "Open Sans";
  line-height: 1.625rem;
}
.home-text11 {
  fill: var(--dl-color-pimary-300);
  color: var(--dl-color-pimary-300);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Open Sans";
}
.home-card3 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: 0px;
  align-self: stretch;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  justify-content: space-between;
}
.home-text12 {
  fill: var(--dl-color-pimary-900);
  color: var(--dl-color-pimary-900);
  font-size: 1.3rem;
  margin-top: 0px;
  text-align: center;
  font-family: "Open Sans";
  line-height: 1.625rem;
}
.home-text13 {
  fill: var(--dl-color-pimary-300);
  color: var(--dl-color-pimary-300);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Open Sans";
}
.home-image08 {
  top: auto;
  left: auto;
  right: auto;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
.home-section2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.home-growing-company-section {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image09 {
  width: 33%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius50);
}
.home-container7 {
  flex: 0 0 auto;
  width: 41%;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text14 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-space-space-unitandhalf);
}
.home-text15 {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unitandhalf);
}
.home-link {
  text-decoration: underline;
}
.home-link1 {
  text-decoration: underline;
}
.home-link2 {
  text-decoration: underline;
}
.home-section3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-secondary-100);
}
.home-container8 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text24 {
  color: var(--dl-color-gray-white);
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}
.home-text25 {
  width: 60%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0.25rem;
}
.home-contact {
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-form {
  flex: auto;
  width: 80%;
  height: auto;
  display: flex;
  max-width: 700px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twoandhalf);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 2px;
  padding-left: var(--dl-space-space-twoandhalf);
  border-radius: var(--dl-radius-radius-radius50);
  padding-right: var(--dl-space-space-twoandhalf);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twoandhalf);
  justify-content: flex-start;
  background-color: var(--dl-color-pimary-800);
}
.home-text28 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-textinput {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-textinput:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.home-text29 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-textinput1 {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-textinput1:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.home-text30 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-textarea {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-textarea:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px #4AA4E3;
}
.home-textinput2 {
  display: none;
}
.home-textinput3 {
  display: none;
}
.home-button {
  fill: var(--dl-color-pimary-900);
  color: var(--dl-color-pimary-900);
  width: 30%;
  height: var(--dl-size-size-doubleunit);
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  transition: 0.3s;
  text-transform: none;
  background-color: var(--dl-color-secondary-300);
}

.home-image10 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-text02 {
    color: var(--dl-color-pimary-700);
    width: auto;
    font-size: 2rem;
    font-weight: 600;
    text-transform: none;
    text-decoration: none;
  }
  .home-image07 {
    display: none;
  }
  .home-container6 {
    padding-top: var(--dl-space-space-unit);
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-card1 {
    width: 30%;
    align-self: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-card2 {
    width: 60%;
    align-self: center;
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-card3 {
    width: 30%;
    align-self: flex-end;
  }
  .home-section2 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-growing-company-section {
    align-self: center;
    justify-content: center;
  }
  .home-image09 {
    width: 40%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-container7 {
    flex: 1;
    width: 55%;
    align-items: flex-start;
    margin-left: var(--dl-space-space-doubleunit);
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-text14 {
    margin-top: 0px;
  }
  .home-section3 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container8 {
    width: 100%;
  }
  .home-text25 {
    width: 70%;
  }
}
@media(max-width: 767px) {
  .home-container1 {
    align-self: flex-end;
    align-items: flex-end;
  }
  .home-container2 {
    align-self: flex-end;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
  .home-text {
    font-size: 2.5rem;
  }
  .home-text01 {
    font-size: 4rem;
  }
  .home-section1 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-video-content {
    margin-top: var(--dl-space-space-tripleunit);
    flex-direction: column-reverse;
  }
  .home-container3 {
    width: 100%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-text02 {
    font-size: 1.8rem;
    align-self: center;
    margin-top: var(--dl-space-space-doubleunit);
    text-align: center;
  }
  .home-text05 {
    width: 70%;
    align-self: center;
    text-align: center;
  }
  .home-container4 {
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }
  .home-container6 {
    padding-top: 0px;
  }
  .home-card1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-card2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-card3 {
    width: 40%;
  }
  .home-growing-company-section {
    flex-direction: column;
  }
  .home-image09 {
    flex: 1;
    width: 50%;
  }
  .home-container7 {
    width: 100%;
    margin-top: var(--dl-space-space-doubleunit);
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-section3 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-twoandhalf);
  }
  .home-text25 {
    width: 100%;
  }
}
@media(max-width: 430px) {
  .home-hero {
    height: 35rem;
    border-radius: 0px;
    background-position: -8rem;
  }
  .home-container1 {
    align-items: flex-end;
  }
  .home-container2 {
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: 5rem;
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-text {
    font-size: 1.7rem;
  }
  .home-text01 {
    margin-top: var(--dl-space-space-unit);
  }
  .home-section1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twoandhalf);
  }
  .home-text02 {
    font-size: 1.8rem;
    text-align: center;
  }
  .home-text05 {
    width: 90%;
  }
  .home-card1 {
    width: 60%;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-text08 {
    width: auto;
    text-align: left;
  }
  .home-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-text10 {
    text-align: left;
  }
  .home-card3 {
    width: 50%;
    align-self: flex-end;
  }
  .home-text12 {
    width: 7rem;
    text-align: left;
  }
  .home-section2 {
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-container7 {
    align-items: flex-start;
  }
  .home-text24 {
    font-size: 2rem;
    text-align: center;
  }
  .home-form {
    width: 100%;
    margin-top: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-button {
    width: 50%;
  }
}
