.header-header {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
}
.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink {
  display: contents;
}
.header-heading {
  color: var(--dl-color-gray-white);
  font-weight: 700;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-navlink1 {
  display: contents;
}
.header-container1 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
  text-decoration: none;
}
.header-icon {
  fill: var(--dl-color-gray-900);
  width: 13px;
}
.header-text {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-halfunit);
}
.header-navlink2 {
  display: contents;
}
.header-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
.header-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-link {
  display: contents;
}
.header-image {
  width: 24px;
  height: 24px;
  object-fit: cover;
  text-decoration: none;
}
.header-link1 {
  display: contents;
}
.header-image1 {
  width: 24px;
  height: 24px;
  padding: 0px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-root-class-name {
  margin-bottom: 0px;
}
@media(max-width: 991px) {
  .header-header {
    max-width: 1320px;
    margin-bottom: var(--dl-space-space-triplequarter);
  }
}
@media(max-width: 767px) {
  .header-container4 {
    display: none;
  }
  .header-root-class-name {
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .header-container {
    margin-left: var(--dl-space-space-unitandhalf);
  }
}
